{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block page_title %}文章{% endblock page_title %}
{% block content %}
<div class="am-u-md-8 am-u-sm-12">
      <article class="am-article blog-article-p">
        <div class="am-article-hd">
          <h1 class="am-article-title blog-text-center">{{ art_msg.article_title }}</h1>
          <p class="am-article-meta blog-text-center">
              <span><a href="{% url 'time:category_query' art_msg.article_category.id %}" class="blog-color">{{ art_msg.article_category.category_name }} &nbsp;</a></span>-
              <span><a href="#">@{{ art_msg.author_name }} &nbsp;</a></span>-
              <span><a href="#">{{ art_msg.add_time }}</a></span>
          </p>
        </div>
        <div class="am-article-bd">
{#            <img src="{% static 'i/f10.jpg' %}" alt="" class="blog-entry-img blog-article-margin">#}
{#            <p class="am-article-lead"></p>#}
            <p>{{ art_msg.article_desc|safe }}</p>
        </div>
      </article>

        <div class="am-g blog-article-widget blog-article-margin">
          <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
            <span class="am-icon-tags"> &nbsp;</span>
              {% for tag_result in art_msg.article_tags.all %}
                        <a href="{% url 'art:tags_page' tag_result.id %}">{{ tag_result.name }}</a>&nbsp;
              {% endfor %}
            <hr>
            <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
            <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
            <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
          </div>
        </div>

        <hr>
        <div class="am-g blog-author blog-article-margin">
          <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
            <img src="{{ MEDIA_URL }}{% get_author_logo %}" alt="" class="blog-author-img am-circle">
          </div>
          <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
          <h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color">{{ art_msg.author_name }}</span></h3>
            <p>{% lorem %}</p>
          </div>
        </div>
        <hr>
        <ul class="am-pagination blog-article-margin">
          {% if left_top %}
            <li class="am-pagination-prev"><a href="" onclick="return false;" class=""> 到顶了</a></li>
            <li class="am-pagination-next"><a href="{% url 'art:article_page'  id_position.right_id %}">下一篇 &raquo;</a></li>
          {% elif right_top %}
            <li class="am-pagination-prev"><a href="{% url 'art:article_page'  id_position.left_id %}" class="">&laquo; 上一篇</a></li>
            <li class="am-pagination-next"><a href="" onclick="return false;">到底了 </a></li>
          {% else %}
            <li class="am-pagination-prev"><a href="{% url 'art:article_page'  id_position.left_id %}" class="">&laquo; 上一篇</a></li>
            <li class="am-pagination-next"><a href="{% url 'art:article_page'  id_position.right_id %}">下一篇 &raquo;</a></li>
          {% endif %}
        </ul>
        <hr>
</div>
{#评论模块    #}
{#        <form class="am-form am-g">#}
{#            <h3 class="blog-comment">评论</h3>#}
{#          <fieldset>#}
{#            <div class="am-form-group am-u-sm-4 blog-clear-left">#}
{#              <input type="text" class="" placeholder="名字">#}
{#            </div>#}
{#            <div class="am-form-group am-u-sm-4">#}
{#              <input type="email" class="" placeholder="邮箱">#}
{#            </div>#}
{##}
{#            <div class="am-form-group am-u-sm-4 blog-clear-right">#}
{#              <input type="password" class="" placeholder="网站">#}
{#            </div>#}
{##}
{#            <div class="am-form-group">#}
{#              <textarea class="" rows="5" placeholder="一字千金"></textarea>#}
{#            </div>#}
{##}
{#            <p><button type="submit" class="am-btn am-btn-default">发表评论</button></p>#}
{#          </fieldset>#}
{#        </form>#}
{#<hr>    #}
{% endblock content %}
